.root{
	/*	
	 */

	 var-low: #535353;
	 var-medium: #424242;
	 var-high: #383838;
	 
	-fx-focus-color: #f16822;
	-fx-accent: #f16822;
}

.background {
    -fx-background-color: #535353;
}

.background-bar {
    -fx-background-color: #535353;
    -fx-effect: dropshadow( gaussian , black , 10 , 0.3 , 0 , 0 );
}

.label {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.text {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
	-fx-background-color: #999999;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.text-field-research{
    -fx-background-radius: 15;
	-fx-background-color: #999999;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 20 5 20;
    -fx-background-radius: 5;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-opacity: 0.8;
  -fx-text-fill: white;
}

.button:focused {
    -fx-border-color: #f16822, #f16822;
    -fx-border-width: 1, 1;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.jfx-tab-pane .tab-header-background{
    -fx-background-color: #424242;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #75bc1b;
    -fx-stroke-width: 3pt;
}

.jfx-tab-pane > .jfx-rippler{
    -fx-rippler-fill : red;
}

.jfx-tab-pane .tab-header-area .tab-selected-line{
    -fx-stroke: red;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #383838;
    -fx-opacity: 0.5;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal:hover .thumb,
.scroll-bar:vertical:hover .thumb {
    -fx-background-color: #383838;
    -fx-opacity: 1.0;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: #535353;
}

.image-view {
	-fx-effect: dropshadow( gaussian , gray , 15 , 0.4 , 0 , 0 );
}

.text-area {
	-fx-text-fill: white;
    -fx-background-color: #535353;
    -fx-border-color: #535353;
    -fx-border-width: 0, 0;
}

.text-area:focused {
	-fx-text-fill: white;
    -fx-background-color: #535353;
    -fx-border-color: #535353;
    -fx-border-width: 0, 0;
}

 .text-area .content{
 	-fx-text-fill: white;
    -fx-background-color: #535353;
    -fx-border-color: #535353;
    -fx-border-width: 0, 0;
 }
 
 .inner-shadow {
 	-fx-effect: innershadow( gaussian , black , 10 , 0.4 , 0 , 0 );
 }
 
.choice-box {
	-fx-background-color: #424242;
}

.jfx-slider {
	-fx-color: #383838;
}

.jfx-slider:hover {
	-fx-color: #535353;
}

.jfx-slider:focused {
	-fx-color: #383838;
}

.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 5;
    -fx-background-insets: 1;
}

.jfx-progress-bar > .track {
    -fx-background-color: #424242;
}

.button-close {
    -fx-padding: 5 22 5 22;
    -fx-background-radius: 15;
    -fx-background-color: #383838;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button-close:focused {
    -fx-border-color: #f16822, #f16822;
    -fx-border-width: 0, 0;
    -fx-border-radius: 15, 15;
    -fx-border-insets: 0 0 0 0, 0;
}

.button-close:hover {
	-fx-background-color: #4b0000;
}

.check-menu-item {
	-fx-background-color: transparent;
	-fx-mark-color: #f16822;
}

.menu-item:hover:focused {
	-fx-background-color: -fx-focus-color;
}

.check-menu-item:hover {
	-fx-background-color: -fx-focus-color;
}

.check-menu-item:focused {
	-fx-focused-mark-color: #f9c1a4;
}

.check-menu-item > .left-container {
    -fx-background-color: transparent;
}

.custom-dialog{
    -fx-background-color: var-low;
}
.custom-dialog > *.button-bar > *.container{
    -fx-background-color: var-low;
}
.custom-dialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.custom-dialog:header *.header-panel{
    -fx-background-color: var-medium;
}
.custom-dialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
}